<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="payerTaxe">
            <h2><span jhiTranslate="blockchainApp.payerTaxe.detail.title">Payer Taxe</span> {{payerTaxe.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="blockchainApp.payerTaxe.compte">Compte</span></dt>
                <dd>
                    <div *ngIf="payerTaxe.compteId">
                        <a [routerLink]="['/compte-my-suffix', payerTaxe.compteId, 'view']">{{payerTaxe.compteRib}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="blockchainApp.payerTaxe.taxe">Taxe</span></dt>
                <dd>
                    <div *ngIf="payerTaxe.taxeId">
                        <a [routerLink]="['/taxe-my-suffix', payerTaxe.taxeId, 'view']">{{payerTaxe.taxeDescription}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/payer-taxe-my-suffix', payerTaxe.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
